body {
    margin: 60px auto;
    width: 70%;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
header > .description {
    color: #aaa;
    font-weight: 300;
}
header > .selfie {
    width: 150px;
    border-radius: 100%;
}
nav, footer {
    text-align: center;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
.references {
    font-size: 70%;
}
.impressum * {
    font-size: 70%;
    float: right;
}
.blurb {
    text-align: center;
}
.container {
    font-weight: 300;
}
.container ul {
    line-height: 1.5rem;
    color: #666;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: black;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.7em;
    color: #666;
    letter-spacing: 0.4px;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
.comments * {
    border-top: 1px solid #d5d5d5;
}
