<!DOCTYPE html>
<html>
	<head>
		<title>Elmar Ritsch{% if page.title != null %} - {{ page.title }}{% endif %}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" type="text/css" href="/css/highlights.css">
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/projects">Projects</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/CV-ElmarRitsch.pdf">CV</a></li>
			</ul>
		</nav>
		<div class="container">
		{{ content }}
		</div><!-- /.container -->
		<footer>
			<div class="impressum">
				<a href="/impressum-legal-notice">Impressum - Legal Notice</a>
			</div>
			<ul>
				<li><a href="/assets/elmar_ritsch.pub.txt">Public Key</a></li>
				<li><a href="mailto:elmar@ritsch.io">Email</a></li>
				<li><a href="https://www.linkedin.com/in/elmar-ritsch">LinkedIn</a></li>
				<li><a href="https://github.com/elritsch">GitHub</a></li>
			</ul>
		</footer>
	</body>
</html>
